.hero {
    position: relative;
}

.hero-text {
    padding-top: 120px;
    padding-bottom: 176px;
    display: grid;
    place-items: center;
}

.hero-text h1 {
    font-size: 125px;
    padding-bottom: 20px;
    max-width: 1000px;
    text-align: center;
}

.hero-text p {
    font-size: 23px;
    max-width: 860px;
    text-align: center;
}

.heo-bgimg {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}