* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.underconstuction-page {
    font-family: 'Courier New', Courier, monospace;

    background: #131313;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linktosignup {
    color: dodgerblue;
}