@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
    /* overflow: hidden; */
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    background: #131313;
    color: #fff;
}


/* Hero */

.hero {
    position: relative;
    padding-top: 170px;
    padding-bottom: 144px;
}

.herobg-images {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.shaddow {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 653px;
    height: 281px;
    background: #141414;
    filter: blur(100px);
}

.hero-text {
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.hero-title {
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 111px;
}

.hero-title span,
.hero-desc span {
    color: #DDFD5D;
}

.hero-desc {
    font-size: 28px;
}

.btns-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.booking__btn {
    background: #08B227;
    color: #fff;
    border-radius: 38px;
    padding: 20px 60px;
    font-weight: 700;
}

.refer__btn {
    color: #fff;
    border: 1px solid #137926;
    border-radius: 38px;
    padding: 20px 60px;
    font-weight: 700;
}



/* Our Work */


.our-work {
    padding-top: 68px;
}

.our-work .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.our-work h2 {
    font-size: 32px;
    color: #DDFD5D;
}


.our-work__text p {
    max-width: 582px;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 44px;
}

.our-work__text p span {
    color: #DDFD5D;
}

.our-work__text .more-btn {
    border: none;
    background: #DDFD5D;
    border-radius: 38px;
    padding: 19px 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    transition: 200ms;
}

.our-work__text .more-btn:hover {
    border: 1px solid #DDFD5D;
    background: transparent;
    color: #DDFD5D;
    /* transform: scale(1.1); */
}

/* Slider */


.slider {
    padding-top: 92px;
    padding-bottom: 89px;
}

.swiper-slide img {
    object-fit: cover;
    border-radius: 40px;
}


/* Our Services */

.our-services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-services .wrapper {
    padding: 0px 32px;
    padding-bottom: 38px;
    background: #fff;
    color: #000;
    border-radius: 30px;
}

.our-services .wrapper .main__text {
    display: flex;
    justify-content: space-between;
    padding: 46px 55px 21px 55px;
}

.our-services .wrapper .main__text h3 {
    font-size: 32px;
    color: #137926;
}

.our-services .wrapper .main__text p {
    max-width: 582px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 40px;
}

.our-services .show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 27px 35px 27px 35px;
}

.our-services .show .text {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.our-services .show .text .service-title {
    font-size: 16px;
    color: #137926;
    font-weight: 700;
}

.our-services .show .text h4 {
    font-size: 32px;
    color: #000;

}

.our-services .show .text .project-desc {
    max-width: 513px;
    width: 100%;
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

/* Let's Build */

.build {
    position: relative;
    text-align: center;
    padding: 300px 0px;
}

.build-bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-45%);
    z-index: 0;
}

.build .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.build .text,
.btns-wrapper {
    position: relative;
}

.build .text h5 {
    font-size: 64px;
    color: #fff;
    font-weight: 800;
    line-height: 105px;
}

.build .text p {
    max-width: 715px;
    width: 100%;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.build .btns-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.build .btns-wrapper a {
    text-decoration: none;
    padding: 20px 60px;
    color: #fff;
    border-radius: 38px;
    font-weight: 700;
}

.build .btns-wrapper a:first-child {
    background: #08B227;
}

.build .btns-wrapper a:last-child {
    border: 1px solid #137926;
    padding: 20px 35px;
}