@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

a {
    text-decoration: none;
}

.home {
    background: #131313;
    position: relative;
    color: #fff;
}

.blob.display {
    display: none;
}

main.menuopen {
    display: none;
}

nav {
    position: relative;
    z-index: 1;
    padding-top: 56px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 28px;
}


nav a {
    color: #fff;
    border: 1px solid #137926;
    border-radius: 38px;
    padding: 14px 40px;
    font-weight: 700;
    transition: 200ms;
}


nav a:hover {
    color: #fff;
    border: 1px solid #fff;

}

nav button {
    cursor: pointer;
    background: #08B227;
    border: none;
    border-radius: 38px;
    padding: 20px 15px;
}

/* Menu */

.menu {
    padding-top: 60px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
    top: 0;
    right: 0;
    visibility: hidden;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu ul,
li {
    list-style-type: none;
}

.menu.open {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.menu .close-btn__wrapper {
    display: flex;
    justify-content: right;
    padding-bottom: 130px;
}

.menu .close-btn__wrapper button {
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 100ms;
}

.menu .close-btn__wrapper button:hover {
    transform: scale(1.1);
}

.menu .content-wrapper {
    display: flex;
    justify-content: space-between;
}

.menu .content-wrapper .contact li {
    padding-bottom: 16px;
}

.menu .content-wrapper .contact li a {
    color: #000;
    font-size: 32px;
    font-weight: 800;
}

.menu .content-wrapper .contact li:first-child p {
    color: #137926;
    font-weight: 800;
}

.menu .content-wrapper .contact li p {
    color: #000;
    font-size: 20px;
}

.menu .content-wrapper .links {
    display: flex;
    flex-direction: column;
}

.menu .content-wrapper .links li a {
    padding-bottom: 10px;
    font-size: 72px;
    font-weight: 800;
    transition: 300ms;
}

.menu .content-wrapper .links li a:hover {
    color: #137926;
}

/* Hero */

.hero {
    position: relative;
    padding-top: 170px;
    padding-bottom: 144px;
}

.herobg-images {
    position: absolute;
    z-index: 1;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.shaddow {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    width: 653px;
    height: 281px;
    background: #141414;
    filter: blur(100px);
}

.hero-text {
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
}

.hero-title {
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -2px;
    line-height: 111px;
}

.hero-title span,
.hero-desc span {
    color: #DDFD5D;
}

.hero-desc {
    font-size: 28px;
}

.btns-wrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

.booking__btn {
    background: #08B227;
    color: #fff;
    border-radius: 38px;
    padding: 20px 60px;
    font-weight: 700;
}

.refer__btn {
    color: #fff;
    border: 1px solid #137926;
    border-radius: 38px;
    padding: 20px 60px;
    font-weight: 700;
}



/* Our Work */


.our-work {
    padding-top: 68px;
}

.our-work .container {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.our-work h2 {
    font-size: 32px;
    color: #DDFD5D;
}


.our-work__text p {
    max-width: 582px;
    width: 100%;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 44px;
}

.our-work__text p span {
    color: #DDFD5D;
}

.our-work__text .more-btn {
    border: none;
    background: #DDFD5D;
    border-radius: 38px;
    padding: 19px 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    transition: 200ms;
}

.our-work__text .more-btn:hover {
    border: 1px solid #DDFD5D;
    background: transparent;
    color: #DDFD5D;
    /* transform: scale(1.1); */
}

/* Slider */


.slider {
    padding-top: 92px;
    padding-bottom: 89px;
}

.swiper-slide img {
    object-fit: cover;
    border-radius: 40px;
}


/* Our Services */

.our-services {
    padding-top: 100px;
    padding-bottom: 100px;
}

.our-services .wrapper {
    padding: 0px 32px;
    padding-bottom: 38px;
    background: #fff;
    color: #000;
    border-radius: 30px;
}

.our-services .wrapper .main__text {
    display: flex;
    justify-content: space-between;
    padding: 46px 55px 21px 55px;
}

.our-services .wrapper .main__text h3 {
    font-size: 32px;
    color: #137926;
}

.our-services .wrapper .main__text p {
    max-width: 582px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 40px;
}

.our-services .show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    border-radius: 20px;
    padding: 27px 35px 27px 35px;
}

.our-services .show .text {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.our-services .show .text .service-title {
    font-size: 16px;
    color: #137926;
    font-weight: 700;
}

.our-services .show .text h4 {
    font-size: 32px;
    color: #000;

}

.our-services .show .text .project-desc {
    max-width: 513px;
    width: 100%;
    font-size: 20px;
    line-height: 37px;
    font-weight: 400;
    letter-spacing: -0.4px;
}

/* Let's Build */

.build {
    position: relative;
    text-align: center;
    padding: 300px 0px;
}

.build-bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-45%);
    z-index: 0;
}

.build .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.build .text,
.btns-wrapper {
    position: relative;
}

.build .text h5 {
    font-size: 64px;
    color: #fff;
    font-weight: 800;
    line-height: 105px;
}

.build .text p {
    max-width: 715px;
    width: 100%;
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.build .btns-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.build .btns-wrapper a {
    text-decoration: none;
    padding: 20px 60px;
    color: #fff;
    border-radius: 38px;
    font-weight: 700;
}

.build .btns-wrapper a:first-child {
    background: #08B227;
}

.build .btns-wrapper a:last-child {
    border: 1px solid #137926;
    padding: 20px 35px;
}

/* Footer */

footer {
    overflow: hidden;
    position: relative;
    padding-top: 100px;
    border-radius: 50% 50% 0px 0px;
    background: #fff;
    margin-top: 79px;
    text-align: center;
}

footer .info {
    margin-bottom: 103px;
}

footer .info a {
    color: #137926;
    font-size: 32px;
    font-weight: 700;
}

footer .info p {
    margin-top: 16px;
    color: #000;
    font-size: 32px;
    font-weight: 400;
}

footer .links {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    padding-bottom: 200px;
}

.links a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.decor-logo {
    position: absolute;
    bottom: -88px;
    left: 12%;
    color: #000;
    font-size: 210px;
    font-weight: 800;
}


/*
.underconstuction-page {
    font-family: 'Courier New', Courier, monospace;

    background: #131313;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linktosignup {
    color: dodgerblue;
} */