.free-prodcut {
    padding-top: 200px;
    padding-bottom: 300px;
}

.free-product__text {
    text-align: center;
}

.free-product__text h6 {
    font-size: 80px;
    padding-bottom: 30px;
}

.free-product__text p {
    font-size: 27px;
    max-width: 650px;
    margin: auto;
    padding-bottom: 30px;
}

.free-product__text p a {
    text-transform: capitalize;
    color: #fff;
    text-decoration: underline;
    
}

.free-product__text button {
    padding: 20px 100px;
    font-size: 20px;
    color: #fff;
    border-radius: 37px;
    background: linear-gradient(176.08deg, rgb(100, 100, 100) 1.112%, rgba(100, 100, 100, 0) 111.322%);
    transition: 300ms;
    border: none;
}