.caseStudy {
    /* text-align: center; */
    padding-bottom: 300px;
}

.case-study__text {
    text-align: center;
}

.case-study__text h3 {
    background: linear-gradient(90deg, #fff 0%, #9C9C9C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Keania One", sans-serif;
    font-size: 80px;
}

.case-study__text p {
    font-size: 27px;
    max-width: 950px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 94px;

}

.item {
    padding: 40px 0px;
    border: 1px solid #fff;
    border-right: none;
    border-left: none;
}

.item img {
    height: 0px;
}

.active {
    height: 690px;
}

.item strong {
    font-size: 60px;
}

.item p {
    font-size: 60px;
    padding-bottom: 30px;
}

.item img {
    width: 100%;
}

.more-wrapper {
    width: 100%;
    display: grid;
    place-content: center;
}

.view-more__portfolio {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 65px;
    background: #fff;
    padding: 18px 71px;
    font-size: 32px;
    border-radius: 70px;
    border: none;
}