.mySwiper {
    /* padding: 0px 20px; */
    border: 1px solid #fff;
    border-left: none;
    border-right: none;
}

.mySwiper .slider-item {
    padding: 20px 0px;
    font-size: 55px;
    font-family: "CabinetGrotesk-Thin";
    /* font-family: "CabinetGrotesk-Black"; */
}